<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>edit</title>
  </head>
  <body>
    <div class="menu">
        <div class="subject">
            <span>项目</span>
            <a @click="project_open(project)" href="#">打开</a>
            <a @click="project_save(project, project.path)" href="#">保存</a>
            <span v-text="project.path || '未打开文件'"></span>
        </div>
    </div>
    <div v-for="subject in project.subjects.lists" class="subject">
        <div class="head">
            <span>主题：</span>
            <span v-text="subject.name"></span>
            <a @click="todo_empty(subject)" href="#">清空</a>
            <input type="text" @keyup.enter="todo_add(subject)" v-model="subject.input"/>
            <a @click="todo_add(subject)" href="#">添加todo</a>
        </div>
        <div class="body">
            <table>
                <tr>
                    <th>内容</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                <template v-for="(index, item) in subject.todos">
                    <tr>
                        <td >
                            <textarea v-model="item.content"></textarea>
                        </td>
                        <td >
                            <p v-text="item.time.split(' ')[0]"></p>
                            <p v-text="item.time.split(' ')[1]"></p>
                        </td>
                        <td>
                            <a @click="todo_del(subject, item)" href="#">删除</a>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
    <div class="todo">
        <input type="text" v-model="project.subjects.input"/>
        <a @click="subject_add(project)" href="#">添加主题</a>
    </div>
    <div class="history">
        <a @click="history_empty()" href="#">清空历史</a>
        <!--<div>-->
            <!--<span>排序</span>-->
            <!--<a @click="history_sort(-1)" href="#">最近</a>-->
            <!--<a @click="history_sort(1)" href="#">最远</a>-->
        <!--</div>-->
        <div v-for="item in history.lists | orderBy 'time' history.sort" >
            <span v-text="item.action"></span>
            <span v-text="item.success?'成功':'失败'"></span>
            <span v-if="item.action == 'project_open'" >
                <a v-text="item.data.filename" @click="project_open(project, item.data.filename)" href="#"></a>
            </span>
            <span v-if="item.data.error" v-text="item.data.error.message"></span>
            <span v-text="item.time"></span>
        </div>
    </div>
  <script>
    // You can also require other files to run in this process
      require('./renderer.js')
  </script>
  </body>

</html>
